/** {
  margin: 0;
  padding: 0;
}*/
.mdl-layout__header {
  background-color:#6ab344;
  color: white;
}


.mdl-mega-footer {
  padding: 16px 40px;
  color: #e4e0e0;
  background-color: #6ab344;
}

.page-content{
  min-height:768px;
}

.mdl-layout__content {
    background-color: white;
}

.img1 {
    width: 100px;
    height: 50px;
}
 




.formcard {
  background-color: rgb(216, 218, 214);

}
/*#BDBDBD,#558B2F,#2E7D32*/




.admin-device-create > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/*
.admin-device-create > .mdl-card__title {
  align-items: flex-start;
}*/


.admin-device-create > .mdl-card__title > h4 {
  margin-top: 0;
}


.admin-device-create > .mdl-card__title,
.admin-device-create > .mdl-card__supporting-text,
.admin-device-create > .mdl-card__actions,
.admin-device-create > .mdl-card__actions > .mdl-button {
  color: #000;
}

.pad-bottom{
  padding-top: 50px;
}

.pad-left-form-field{
  padding-left: 20px;
}

.pad-top-form-field{
  padding-top: 30px;
}

.tbl-row-text-font{
  font-size: 22px;
}

.center{
  justify-content:center;
  text-align: center;
}

div.relative {
    position: relative;
    width: 400px;
    height: 100px;
    //border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 30px;
    left: 20px;
}

.mdl-data-table {
            table-layout:fixed;
            width:100%; 
}

.mdl-data-table th, td{
  text-align: center !important;
}

/*upload icon css*/
    body {
  display: flex;
}

.file_input {
  float: left;
}

.none {
  display: none;
}