  #container {
    min-height: 810px; 
  }

  #content {
      padding-top:40px; 
      padding-bottom: 120px; 
  }

  #error-container  {
      padding-bottom:20px ;
      width: 90% ;
  }

  .page_error {
      font-size: 15px ;
  }

  .page_message {
    font-size: 15px ;
  }

  .wide-mdl-card {
      width: 512px ;
  }

  .lake-card-container {
      padding:17px ;

  }
  
  #login-container .mdl-card__title {
      margin-top:0px ;
      color: #fff;
       height: 256px;
       background: url(/assets/images/welcome_card.jpg) center / cover;
  }

  #usage-container ul, li { 
      list-style: none; 
  }

  a {
    text-decoration: none ;
    color: black ;
    font-weight: 500;
   }


  .lake-edit-links {
      height: 100% ;
  }

  .lake-edit-links a {
      text-decoration: none ;
      color: black ;
  }

  select {
      width:310px;
      height:28px; 
      font-size: 16px; 
  }

  .form-container .mdl-textfield {
      width : 400px; 
  }

  .form-button-container {
      padding-top:40px ;
  }

  